.App {
  text-align: center;
}
.link {
  text-decoration: none;
}
.link:visited {
  color: white;
}
.link:hover {
  color: wheat;
}

.link1 {
  text-decoration: none;
}
.link1:visited {
  color: black;
}
.link1:hover {
  color: rgba(0, 0, 0, 0.9);
}
